<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Employee List</title>
</head>

<body>
    <div class="flex flex-col items-center mx-auto px-4 py-8">

        <h1 class="text-2xl font-bold">Create Employee</h1>
        <form th:action="@{/employee/create}" method="post" class="mt-4">
            <label for="name" class="block mt-4 text-sm font-medium text-gray-700">Name</label>
            <input class="border" type="text" id="name" name="name">

            <label for="age" class="block mt-4 text-sm font-medium text-gray-700">Age</label>
            <input class="border" type="number" id="age" name="age">

            <label for="address" class="block mt-4 text-sm font-medium text-gray-700">Address</label>
            <input class="border" type="text" id="address" name="address">

            <button type="submit" class="block mt-4 px-4 py-2 bg-green-500 text-white rounded">Create</button>
        </form>


    </div>

</body>

</html>