<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="task2.app.mapper.EmployeeMapper">
    
    <!-- ここにSQLを書く 
    id = メソッド名
    resultType = 戻り値の型 
    -->
    <select id="findAll" resultType="task2.app.entity.EmployeeEntity">
        SELECT id, name, age, address FROM employee
    </select>

    <!-- 従業員登録 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employee (name, age, address) VALUES (#{name}, #{age}, #{address})
    </insert>

    <!-- foreachを用いて一括削除
        collection = 削除対象のIDリスト 
        item = ループ内で要素を格納する変数
    -->
    <delete id="delete">
        DELETE FROM employee
        WHERE id IN
        <foreach collection="targetIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- foreachを用いて一括更新
        collection = 更新対象の従業員リスト 
        -->
    <update id="update">
        <foreach collection="updateTargetEmployees" item="emp" separator=";">
            UPDATE employee
            <set>
                <if test="emp.name != null">name = #{emp.name},</if>
                <if test="emp.age != null">age = #{emp.age},</if>
                <if test="emp.address != null">address = #{emp.address}</if>
            </set>
            WHERE id = #{emp.id}
        </foreach>
    </update>
</mapper>